FallbackResource /NoterAPI/rest_api/index.php

<Files "restconst.php">
        Order Allow,Deny
        Deny from all
</Files>

<Files "restprocs.php">
        Order Allow,Deny
        Deny from all
</Files>
